#
# My .extra file as an example
#

# hard-coded for speed

# for go
export GOROOT=/usr/local/opt/go/libexec
export GOPATH=$HOME/Workspace/go
export GOBIN=$GOPATH/bin
PATH=$GOBIN:$PATH

# for groovy
export GROOVY_HOME=/usr/local/opt/groovy/libexec

# for android sdk
PATH=$HOME/Library/Android/sdk/tools:$HOME/Library/Android/sdk/platform-tools:$HOME/Library/Android/ndk:$PATH

# for gun coreutils
PATH=/usr/local/opt/coreutils/libexec/gnubin:$PATH
alias ls='ls -F --show-control-chars --color=auto'
eval `gdircolors -b $HOME/.dir_colors`

# for bash_completion
. /usr/local/etc/bash_completion

# mount case-sensitive image
function mountcases() { hdiutil attach $HOME/Documents/cases.dmg.sparseimage -mountpoint $HOME/Development/cases;  }

# unmount case-sensitive image
function umountcases() { hdiutil detach $HOME/Development/cases;  }
